@import "~bootstrap/scss/bootstrap.scss";

$bg-main-color: rgb(255, 255, 255);
$bg-dark-color: rgb(33, 37, 41);
$fav-button-color: rgb(56, 62, 68);
$fav-button-hover-color:  rgb(255, 174, 0);
$box-shadow-color: rgb(0, 0, 0, 0.25);

:root {
  --bg-main-color: #{$bg-main-color};
  --bg-dark-color: #{$bg-dark-color};
  --fav-button-color: #($fav-button-color);
  --fav-button-hover-color: #($fav-button-hover-color)
  --box-shadow-color: #($box-shadow-color)
}

html {
  overflow-x: hidden;
}

.footer {
  max-height: 5rem;
  background-color: $bg-dark-color;
  font-size: 0.75rem;
  color: rgb(168, 168, 168);
}

.content-row {
  min-height: 100vh;
}

.back-button {
  font-size: 2rem;
  text-decoration: none;
}

.movie-card,
.person-card,
.genre-card {
  box-shadow: 0px 2px 3px $box-shadow-color;
  transition: transform 0.15s;
  will-change: transform;
}

.movie-card:hover,
.person-card:hover,
.genre-card:hover {
  box-shadow: 0px 3px 10px $box-shadow-color;
  transform: scale(105%);
}

.movie-view-main {
  box-shadow: 0px 3px 10px $box-shadow-color;
  background-image: linear-gradient(
    rgb(255, 255, 255, 0),
    rgb(33, 37, 41, 0.05)
  );
}

.fav-button {
  font-size: 3rem;
  position: absolute;
  border: none;
  background: none;
  right: 0;
  bottom: -0.75rem;
  z-index: 1;
  color: $fav-button-color;
}

.fav-button:hover {
  color: $fav-button-hover-color;
}

.fav-buttonB {
  font-size: 3rem;
  border: none;
  background: none;
  z-index: 1;
  color: $fav-button-color;
  height: 60px;
  width: 60px;
}

.fav-buttonB:hover {
  color: $fav-button-hover-color;
}

body {
  font-family: "Liter", serif;
  background-color: $bg-main-color;
}

.welcome {
  font-size: 1.75rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.featured-movie {
  background-image: url("https://image.tmdb.org/t/p/w600_and_h900_bestv2/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  min-height: 25rem;
  position: relative;
}

.navbar {
  box-shadow: 0px 3px 6px rgb(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .movie-view-image {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 769px) {
  .movie-view-info {
    padding-left: 2rem;
  }
}
